<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laripping.watchlistwidget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_imdb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_imdb_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.WatchlistWidget">
        <service
            android:name=".WidgetService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".WatchlistWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/watchlist_widget_info" />
        </receiver>

        <activity
            android:name=".WatchlistWidgetConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <provider
            android:name=".WatchlistProvider"
            android:authorities="com.laripping.watchlistwidget"
            android:enabled="true"
            android:exported="true" />
<!--        exported otherwise we get SecurityException from widget trying to call it-->
<!--        TODO add permission-->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WatchlistWidget.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>